<div class="course-content-col">
    <mat-drawer-container class="example-container"> 
      <mat-drawer-content>
        <table>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Language</mat-label>
                        <mat-select (selectionChange)="onLanguageChange($event)">
                            <mat-option *ngFor="let language of languageData" [value]="language.id">
                                {{language.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Sarga</mat-label>
                        <mat-select (selectionChange)="onSargaChange($event)">
                            <mat-option *ngFor="let sarga of sargaData" [value]="sarga.id"> {{sarga.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Shloka</mat-label>
                        <mat-select [(ngModel)]="selectedShloka" (ngModelChange)="onShlokaChange($event)">
                            <mat-option *ngFor="let shloka of shlokaData" [value]="shloka.shloka_smv_id">
                                {{shloka.shloka_smv_id}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <ng-container *ngIf="selectedShloka">
                <tr>
                    <td>
                        <p><strong>Play Shloka</strong></p>
                    </td>
                    <td>
                        <audio controls style="width: 100%;">
                            <source src="../../assets/Madvijaya/Sarga1/Shloka1.mp3" type="audio/ogg">
                            <!-- <source src="./audio/horse.ogg" type="audio/mpeg"> -->
                            Your browser does not support the audio element.
                        </audio>
                    </td>
                    <td>
                        <p><strong>Pada Cheda</strong></p>
                        <tr>
                            <ng-container *ngFor="let pada of getPadaArray()">
                                <td style="cursor: pointer" (click)="toggleDrawer(pada.text)">{{pada.text}}</td>
                            </ng-container>
                        </tr>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{selectedShloka.selectedAttribute.shloka_smv_pada1_text}}
                    </td>
                    <td>
                        <audio controls style="width: 100%;">
                            <source src="../../assets/audio/sarga 1.mp3" type="audio/ogg">
                            <!-- <source src="./audio/horse.ogg" type="audio/mpeg"> -->
                            Your browser does not support the audio element.
                        </audio>
                    </td>
                    <td>
                        <b>Anvaya</b>
                        <tr>
                            <ng-container *ngFor="let anvaya of getAnvayaArray()">
                                <td style="cursor: pointer" (click)="toggleDrawer(anvaya.text)">{{anvaya.text}}</td>
                            </ng-container>
                        </tr>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-label>{{selectedShloka.selectedAttribute.shloka_smv_pada2_text}}</mat-label>
                    </td>
                    <td>
                        <audio controls style="width: 100%;">
                            <source src="../../assets/Madvijaya/Sarga1/Shloka1.mp3" type="audio/ogg">
                            <!-- <source src="./audio/horse.ogg" type="audio/mpeg"> -->
                            Your browser does not support the audio element.
                        </audio>
                    </td>
                    <td>
                        <mat-tab-group>
                            <mat-tab label="vyakhyana_bhavaprakashika">
                              <ng-container>{{ getBhavaprakashika() }}</ng-container>
                            </mat-tab>
                            <mat-tab label="vyakhyana_padarthadipikodbodhika">
                              <ng-container>{{ getPadarthadipikodbodhika() }}</ng-container>
                            </mat-tab>
                            <mat-tab label="vyakhyana_mandopakarini">
                              <ng-container>{{ getMandopakarini() }}</ng-container>
                            </mat-tab>
                            <mat-tab label="Pata_Notes">
                                <ng-container>{{ getPatanotes() }}</ng-container>
                            </mat-tab>
                          </mat-tab-group>
                          <b>Pada Artha</b>
                          <tr>
                              <ng-container>
                                  <textarea matInput rows="4" [value]="concatenateText()" disabled></textarea>
                              </ng-container>
                          </tr>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-label>{{selectedShloka.selectedAttribute.shloka_smv_pada3_text}}</mat-label>
                    </td>
                    <!-- <td>
                        <mat-label>narayaNaya akhila karaNaya</mat-label>
                    </td> -->
                    <td>
                        <audio controls style="width: 100%;">
                            <source src="../../assets/audio/sarga 1.mp3" type="audio/ogg">
                            <!-- <source src="./audio/horse.ogg" type="audio/mpeg"> -->
                            Your browser does not support the audio element.
                        </audio>
                    </td>
                    <td>
                        <b>vyakaranavishesha</b>
                        <tr>
                            {{ selectedShloka.selectedAttribute.vyakarana_vishesha }}
                        </tr>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-label>{{selectedShloka.selectedAttribute.shloka_smv_pada4_text}}</mat-label>
                    </td>
                    <td>
                        <audio controls style="width: 100%;">
                            <source src="../../assets/audio/sarga 1.mp3" type="audio/ogg">
                            <!-- <source src="./audio/horse.ogg" type="audio/mpeg"> -->
                            Your browser does not support the audio element.
                        </audio>
                    </td>
                    <td>
                        <b>Tatparya</b>
                        <tr>
                            {{ getTatparya() }}
                        </tr>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                    </td>
                </tr>
                <mat-drawer position="end" #drawer>
                    <ng-container>
                        <p>{{ selectedPada }}</p>
                    </ng-container>
                </mat-drawer>  
            </ng-container>
        </table>
</mat-drawer-content>
</mat-drawer-container>
</div>